a.exe
Assignment 7.pdf
Assignment-2.pdf
Assignment_5.pdf
Assignment-3.pdf
assignment-4.pdf
Assignment-6.pdf
doc1.docx
doc1.docx.txt
info.txt
out.txt
output.txt
screenshot2(1).jpg
screenshot2(2).jpg
screenshot2(3).jpg
screenshot2(4).jpg
screenshot2(6).jpg
screenshot2(7).jpg
screenshot2(8).jpg
screenshot2(9).jpg
screenshot2(18).jpg
screenshot2(23).jpg
screenshot3(1).jpg
screenshot3(2).jpg
screenshot3(4).jpg
screenshot3(5).jpg
screenshot3(6).jpg
screenshot3(7).jpg
screenshot3(9).jpg
screenshot3(17).jpg
screenshot3(22).jpg
screenshot3(23).jpg
screenshot4(1).jpg
screenshot4(2).jpg
screenshot4(4).jpg
screenshot4(5).jpg
screenshot4(6).jpg
screenshot4(8).jpg
screenshot5(1).jpg
screenshot5(2).jpg
screenshot5(3).jpg
screenshot5(4).jpg
screenshot5(5).jpg
screenshot5(6).jpg
screenshot5(7).jpg
screenshot5(8).jpg
screenshot5(9).jpg
screenshot5(10).jpg
screenshot6(1).jpg
screenshot6(2).jpg
screenshot6(3).jpg
screenshot6(4).jpg
screenshot6(5).jpg
screenshot7(8).jpg
screenshot7(10).jpg
screenshot7(12).jpg
screenshot7(45).jpg
screenshot7(67).jpg
